@font-face {
  font-family: NotoSansArabic-Regular;
  src: url("./fonts/NotoSansArabic-Regular.ttf");
}
@media screen {
  html {
    background: #5F6368;
  }
  .page-inner {
    position: relative !important;
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    margin: 0 auto !important;
    padding: 15px !important;
  }
  .main-table {
    position: relative !important;
    width: 21cm !important;
    z-index: 1;
  }
}
.main-table {
  position: relative !important;
}

.parent_td {
  border: 1px solid white !important;
}

tfoot td {
  border: 0px solid transparent;
}

body {
  font-family: NotoSansArabic-Regular, sans-serif !important;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 11px;
}

.A4 {
  width: 100%;
  margin: 0px auto;
  padding: 10px !important;
  border: 0px;
}

.top,
.footer {
  width: 100%;
  margin: 0px auto !important;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.body_header th {
  padding: 0 15px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

th {
  background-color: white;
  border-bottom: 1px solid black ;
  color: rgb(98 99 100);
}

#items tbody tr{
  background-color: rgb(243 243 243);
  font-weight: bold;
  padding: 1px;

}
#items tbody th {
  background-color: rgb(243 243 243);
  font-weight: bold;
  padding: 1px !important;

}
/* tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */
#proposal tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
#proposal td {
  text-align: center;
  padding: 6px;
  color:rgb(98 99 100) ;
}
.footer {
  color: #595A5E;
  text-align: center;
  margin: 0;
  font-weight: bolder;
}

@page {
  size: A4 portrait !important;
  margin: 0 !important;
}
@media print {
  .footer {
    position: fixed;
    bottom: 1cm;
    left: 0;
    right: 0;
    z-index: 100;
  }
  tbody tr {
    page-break-inside: avoid;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #000;
  line-height: 1.3;
}
.header .tax_invoice_title {
  text-align: center;
}
.header .tax_invoice_title h1 {
  margin: 0 !important;
  padding-top: 10px;
  font-size: 12px;
  font-weight:500 !important;
}
.custom-title h2 {
   background: rgb(105 105 105);
    font-weight: 400;
   color: #fff;
   margin: 0;
   font-size: 16px;
 }
 .footer-note {
    text-align: right;
    font-weight: 400;
   margin-top: 15px;
   font-size: 13px;
   line-height: 1.6;
 }

.totals_footer {
  background-color: transparent !important;
}
.totals_footer .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals_footer .details .invoice-totals {
  padding: 10px 0;
  border: 1px solid #ddd;
}
.print-notes {
  margin-top: 15px;
  margin-bottom: 15px;
  /* padding-top: 10px; */
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #000;
  padding-top: 6px;
  line-height: 1.2;
}
.print-notes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;   
  flex-wrap: wrap; 
}
.print-notes span {
  display: flex;
  align-items: center;
}
.print-notes img {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */